/* One Dark Theme Colors */
@define-color bg #282c34;
@define-color fg #abb2bf;
@define-color red #e06c75;
@define-color green #98c379;
@define-color yellow #e5c07b;
@define-color blue #61afef;
@define-color purple #c678dd;
@define-color cyan #56b6c2;
@define-color orange #d19a66;
@define-color gray #5c6370;
@define-color border #3e4451;
