[user]
  name = Sean Missingham
  email = sean@missingham.com
[lfs "customtransfer.xet"]
	path = git-xet
	args = transfer
	concurrent = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
