*.log
*.DS_Store
*.st*
*lazy-lock.json

**/.direnv/*
**/node_modules/*
**/private/*
**/tmux/plugins*

overlays/*/result
dots/auto/opencode/command
modules/nixos/wm/dots/hyprland/walker/themes
modules/nixos/wm/dots/hyprland/elephant/providers
