@import "onedark.css"; 

* {
    font-family: "MesloLGS Nerd Font Mono Bold";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    background-color: @bg;
    color: @fg;
    transition-property: background-color;
    transition-duration: 0.1s;
    border-bottom: 1px solid @border;
}

#window {
    margin: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @blue;
    border-top: 2px solid @blue;
}

#workspaces button {
    padding: 0 4px;
    color: rgba(97, 175, 239, 0.6);
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    color: @purple;
    border-top: 2px solid @purple;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: @blue;
    border-top: 2px solid @blue;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#bluetooth,
#mode,
#scratchpad,
#custom-network,
#custom-network-ip,
#custom-network-bandwidth {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#clock {
    color: @cyan;
    border-bottom: 2px solid @cyan;
}

#clock.date {
    color: @purple;
    border-bottom: 2px solid @purple;
}

#pulseaudio {
    color: @blue;
    border-bottom: 2px solid @blue;
}

#network {
    color: @yellow;
    border-bottom: 2px solid @yellow;
}

#idle_inhibitor {
    margin-right: 12px;
    color: #7cb342;
}

#idle_inhibitor.activated {
    color: @red;
}

#battery {
    color: @green;
    border-bottom: 2px solid @green;
}

#cpu {
    color: @red;
    border-bottom: 2px solid @red;
}

#memory {
    color: @orange;
    border-bottom: 2px solid @orange;
}

#bluetooth {
    color: @cyan;
    border-bottom: 2px solid @cyan;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#custom-network-ip {
    color: @purple;
    border-bottom: 2px solid @purple;
}

#custom-network-bandwidth {
    color: @green;
    border-bottom: 2px solid @green;
}

#custom-vpn {
    color: @lavender;
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
}
